/* 에디터 전체 */
.w-md-editor {
    border-radius: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

/* 편집 영역 + 보기 영역 */
.w-md-editor-content {
    background-color: var(--white) !important;
    color: var(--black) !important;
}

/* 편집 영역 제목 텍스트 */
.title {
    color: var(--black) !important;
}

/* 보기 영역 */
.wmde-markdown-color {
    background-color: var(--white) !important;
}

/* .w-md-editor-toolbar {
    background-color: #f9f9f9 !important;
} */

.wmde-markdown-color p,
.wmde-markdown-color li,
.wmde-markdown-color h1,
.wmde-markdown-color h2,
.wmde-markdown-color h3,
.wmde-markdown-color h4,
.wmde-markdown-color h5,
.wmde-markdown-color h6 {
    color: var(--black) !important;
}

/* 편집 영역 텍스트 입력 창 */
.w-md-editor-text {
    min-height: 100% !important;
}
