.w-md-editor {
    border-radius: 10px !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.w-md-editor-toolbar {
    background-color: #f9f9f9 !important;
}

.w-md-editor-content {
    background-color: #fff !important;
}